{% extends 'base.html.twig' %}

{% block title %}Edit Coktail{% endblock %}

{% block body %}
    <h1>Edit Coktail</h1>

    {{ include('coktail/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info m-2 col-1" href="{{ path('app_coktail_index') }}">back to list</a>

    {{ include('coktail/_delete_form.html.twig') }}
{% endblock %}
